<div class="one-health-main-page">
    <div class="viewport-height-width one-health-first-page col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="main-page-font col-lg-12 col-md-12 col-sm-12 col-xs-12">
            A one stop shop Indian Health exchange for all 'Indian' health needs
        </h1>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="set-top-margin20">
                <label class="tag-label">HEALTH</label>
                <label class="tag-label">EDUCATION</label>
            </div>
            <div class="set-top-margin20">
                <label class="header-tag">Project:</label>
                <label class="header-value">Product design of 1health system</label>
            </div>
            <div class="">
                <label class="header-tag">Category:</label>
                <label class="header-value">Health</label>
            </div>
            <div class="">
                <label class="header-tag">Years:</label>
                <label class="header-value">2013- 14</label>
            </div>
        </div>
    </div>
    <!--<div style="clear: both;"></div>-->
    <div class="viewport-height-width flow-container-top-padding">
        <div class="col-lg-12 col-md-12 col-sm12 col-xs-12 challange-role-container set-half-height top-content-padding">
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 float-left">
                <h2 class="content-header-2">CHALLANGE:</h2>
                <p class="challange-role-content">To create a health exchange Indian audience that offers world class health services online keeping Indian constraints in mind</p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12 float-left">
                <h2 class="content-header-2">ROLES:</h2>
                <p class="challange-role-content">Product strategist, Product designer, Visual designer</p>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="set-half-height col-lg-12 col-md-12 col-sm12 col-xs-12">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 margin-auto launch-event">
                <p class="content-header-2 content-header-3 launch-event-container">Launched in 2014 with the mission to digitise all healthcare needs in India and make it available at a tap away.</p>
            </div>
        </div>
        <!--<div style="clear: both;"></div>-->
    </div>
    <div class="viewport-height-width flow-container-top-padding top-content-padding">
        <div class="col-lg-12 col-md-12 col-sm12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="content-header-2">Mind map of the initial product concept</h2>
                <p class="challange-role-content">While conceptualizing the product with the founders, we went through a lot of roadmaps for the MVP, here is one of them.</p>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flow-chart-height" src="../../assets/img/onehealth/1-hf.png">
        </div>
        <!--<div style="clear: both;"></div>-->
    </div>
    <div class="viewport-height-width flow-container-top-padding top-content-padding">
        <div class="col-lg-12 col-md-12 col-sm12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="content-header-2">Initial design options</h2>
                <p class="challange-role-content">Some of the half-cooked designs that made rounds while conceptualising the product. Sometimes lyrics and composition go hand in hand!</p>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left" src="../../assets/img/onehealth/group-14.png">
            <img class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left flow-chart-height" src="../../assets/img/onehealth/profile-double.png">
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="viewport-height-width flow-container-top-padding top-content-padding">
        <div class="col-lg-12 col-md-12 col-sm12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="content-header-2">The pitch video</h2>
                <p class="challange-role-content">A small keynote video that explains the features of the product to potential investors and partners.</p>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 margin-auto">
            <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12" src="../../assets/img/onehealth/group-41.png">
        </div>
        <!--<div style="clear: both;"></div>-->
    </div>
    <div class="viewport-height-width flow-container-top-padding top-content-padding">
        <div class="col-lg-12 col-md-12 col-sm12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="content-header-2">Initial design options</h2>
                <p class="challange-role-content">Some of the half-cooked designs that made rounds while conceptualising the product. Sometimes lyrics and composition go hand in hand!</p>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-4 col-md-4 col-sm-4 col-xs-12 float-left" src="../../assets/img/onehealth/usecase1.png">
            <img class="col-lg-4 col-md-4 col-sm-4 col-xs-12 float-left" src="../../assets/img/onehealth/usecase2.png">
            <img class="col-lg-4 col-md-4 col-sm-4 col-xs-12 float-left" src="../../assets/img/onehealth/usecase3.png">
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="taskflow-height-width flow-container-top-padding top-content-padding">
        <div class="col-lg-12 col-md-12 col-sm12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="content-header-2">TASK FLOW</h2>
                <p class="challange-role-content">A typical task flow would look like this:</p>
                <p class="challange-role-content">Feature: Sharing medical records</p>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <img class="col-lg-4 col-md-4 col-sm-4 col-xs-12 float-left" src="../../assets/img/onehealth/sharing-and-referral-flow-04.png">
            <img class="col-lg-4 col-md-4 col-sm-4 col-xs-12 float-left" src="../../assets/img/onehealth/sharing-and-referral-flow-05.png">
            <img class="col-lg-4 col-md-4 col-sm-4 col-xs-12 float-left" src="../../assets/img/onehealth/sharing-and-referral-flow-06.png">
            <div style="clear: both;"></div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 margin-auto">
            <img class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left" src="../../assets/img/onehealth/sharing-and-referral-flow-07.png">
            <img class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left" src="../../assets/img/onehealth/sharing-and-referral-flow-08.png">
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="taskflow-height-width flow-container-top-padding top-content-padding">
        <div class="col-lg-12 col-md-12 col-sm12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="content-header-2">Indianising ‘their’ best practices</h2>
                <p class="font-mm-size challange-role-content">We consulted Doctors and specialists practing in the USA to learn how medical practices work there, followed by some secondary research that helped us with some data points.</p>
                <p class="font-mm-size challange-role-content">e.g., We studied some medical emergency cards in the U.S. to design a feature called ICE (In case of emergency)</p>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 float-left">
            <img class="col-lg-7 col-md-7 col-sm-12 col-xs-12 float-left" src="../../assets/img/onehealth/emergency-card-1.png">
            <img class="col-lg-10 col-md-10 col-sm-12 col-xs-12 float-left" src="../../assets/img/onehealth/emergency-card-2.png">
            <div style="clear: both;"></div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 float-left">
            <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left emergency-card-padding" src="../../assets/img/onehealth/group-32.png">
            <div style="clear: both;"></div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="taskflow-height-width flow-container-top-padding top-content-padding">
        <div class="col-lg-12 col-md-12 col-sm12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="content-header-2">SKETCHES</h2>
                <p class="font-mm-size challange-role-content">Here are some sketches for one of the features: Consult</p>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left">
            <img class="col-lg-3 col-md-3 col-sm-4 col-xs-12 float-left" src="../../assets/img/onehealth/1-health-1.png">
            <img class="col-lg-3 col-md-3 col-sm-4 col-xs-12 float-left" src="../../assets/img/onehealth/1-health-2.png">
            <img class="col-lg-3 col-md-3 col-sm-4 col-xs-12 float-left" src="../../assets/img/onehealth/1-health-3.png">
            <img class="col-lg-3 col-md-3 col-sm-4 col-xs-12 float-left" src="../../assets/img/onehealth/1-health-4.png">
            <div style="clear: both;"></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left">
            <img class="col-lg-3 col-md-3 col-sm-4 col-xs-12 float-left" src="../../assets/img/onehealth/1-health-6.png">
            <img class="col-lg-3 col-md-3 col-sm-4 col-xs-12 float-left" src="../../assets/img/onehealth/1-health-7.png">
            <img class="col-lg-3 col-md-3 col-sm-4 col-xs-12 float-left" src="../../assets/img/onehealth/1-health-8.png">
            <img class="col-lg-3 col-md-3 col-sm-4 col-xs-12 float-left" src="../../assets/img/onehealth/1-health-12.png">
            <div style="clear: both;"></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="content-header-2">The UI - Main Features</h2>
                <p class="font-mm-size challange-role-content">While conceptualizing the product with the founders, we went through a lot of roadmaps for the MVP, here is one of them. While conceptualizing the product with the founders, we went through a lot of roadmaps for the MVP, here is one of them. While conceptualizing the product with the founders, we went through a lot of roadmaps for the MVP, here is one of them. While conceptualizing the product with the founders, we went through a lot of roadmaps for the MVP, here is one of them.</p>
            </div>
        <div style="clear: both;"></div>
    </div>
    <div class="viewport-height-width flow-container-top-padding top-content-padding">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="col-lg-2 col-md-2 col-sm-4 col-xs-6 inline-block">DASHBOARD</span>
                <span class="col-lg-2 col-md-2 col-sm-4 col-xs-6 inline-block">SCHEDULE</span>
                <span class="col-lg-2 col-md-2 col-sm-4 col-xs-6 inline-block">SCHEDULE</span>
                <span class="col-lg-2 col-md-2 col-sm-4 col-xs-6 inline-block">SCHEDULE</span>
                <span class="col-lg-2 col-md-2 col-sm-4 col-xs-6 inline-block">SCHEDULE</span>
                <span class="col-lg-2 col-md-2 col-sm-4 col-xs-6 inline-block">SCHEDULE</span>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left">
                <p class="font-mm-size challange-role-content">While conceptualizing the product with the founders, we went through a lot of roadmaps for the MVP, here is one of them.</p>
                <p class="font-mm-size challange-role-content">
                    <span>SCHEDULE /</span>
                    <span>HOME</span>
                </p>
                <p class="font-mm-size challange-role-content">While conceptualizing the product with the founders, we went through a lot of roadmaps for the MVP, here is one of them. While conceptualizing the product with the founders, we went through a lot of roadmaps for the MVP, here is one of them.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left">
                <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left" src="../../assets/img/onehealth/app-ui.png">
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div class="viewport-height-width flow-container-top-padding top-content-padding">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 margin-auto">
            <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left">-->
                <p class="footer-text text-center-align challange-role-content">Thank you!</p>
                <p class="footer-text font-mm-size challange-role-content">
                    PRO TIP: Always sketch main screens even before starting digital wireframes, can save a lot of iteration time. Good designers always sketch with pencil. Pens are for Doctors and Lawyers!
                </p>
            <!--</div>-->
            <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 float-left">
                <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12 float-left" src="../../assets/img/onehealth/app-ui.png">
            </div>-->
            <!--<div style="clear: both;"></div>-->
        </div>
    </div>
    <!--<div style="clear: both;"></div>-->
</div>
<!--<div style="clear: both;"></div>-->